page-home {
  .prof-pic {
    width: 45%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
  }

  ion-card {
    border-radius: 40px !important;
  }

  ion-card-title {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
  }

  button {
    margin-top: 5% !important;
    font-family: 'Signika', sans-serif;
  }
}
