<!---------------------------------------
Post Survey Page
  - first page of questions for the post-survey
  - includes asking which users' were interacted with for use
    on next page
  - saves answers to firebase under "q1, q2, q3..."
  - multiple question types including scale, multiple choice,
    checkboxes, etc.
---------------------------------------->
<ion-header>
  <ion-navbar>
    <ion-title>Post-Survey</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding text-center>
  <form [formGroup]="postSurveyForm" (submit)="submit()" novalidate>

    <!-- radio selection question -->
    <h5>Selection question goes here?</h5>
    <ion-list radio-group formControlName="option">
      <ion-item>
        <ion-label>option one</ion-label>
        <ion-radio slot="start" value="biff" checked></ion-radio>2
      </ion-item>

      <ion-item>
        <ion-label>option two</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>option three</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-list>

    <!-- scale rating question -->
    <h5>Rating question goes here?</h5>
    <ion-range min="0" max="7" [(ngModel)]="saturation" color="primary" snaps="true" formControlName="rating">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>7</ion-label>
    </ion-range>

    <!-- short answer question -->
    <h5>Short answer question goes here?</h5>
    <ion-item>
      <ion-textarea formControlName="shortAnswer" placeholder="Enter your answer here"></ion-textarea>
    </ion-item>

    <!-- rank multiple options question -->
    <h5>Rank your interaction from blank to blank</h5>
    <ion-list reorder="true" (ionItemReorder)="reorderItem($event)">
        <ion-item *ngFor="let prof of rankedProfList">
          <ion-avatar item-left>
            <img [src]="prof?.photo"/>
          </ion-avatar>
          <ion-label>
            {{ prof?.first }} {{ prof?.last }}
          </ion-label>
        </ion-item>
    </ion-list>

    <!-- checkbox question -->
    <h5>Check who you knew previously</h5>
    <ion-list>
      <ion-item *ngFor="let prof of allProfList">
        <ion-avatar item-right>
          <img [src]="prof?.photo"/>
        </ion-avatar>
        <ion-label>{{ prof?.first }} {{ prof?.last }}</ion-label>
        <ion-checkbox checked="false" [(ngModel)]="prof.isChecked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>
    </ion-list>

    <h5>Warning: You may not edit the survey once you've submitted your responses.</h5>
    <button ion-button type="submit">Next</button>
  </form>
</ion-content>
